In [1]:
# Load library
import pandas as pd

In [2]:
# Create URL
url = 'https://raw.githubusercontent.com/chrisalbon/sim_data/master/titanic.csv'

In [3]:
# Load data
dataframe = pd.read_csv(url)

In [4]:
# Rename column, show two rows
dataframe.rename(columns={'PClass': 'Passenger Class'}).head(2)

,Name,Passenger Class,Age,Sex,Survived,SexCode
0,"Allen, Miss Elisabeth Walton",1st,29.0,female,1,1
1,"Allison, Miss Helen Loraine",1st,2.0,female,0,1

In [5]:
# Rename columns, show two rows
dataframe.rename(columns={'PClass': 'Passenger Class', 'Sex': 'Gender'}).head(2)

,Name,Passenger Class,Age,Gender,Survived,SexCode
0,"Allen, Miss Elisabeth Walton",1st,29.0,female,1,1
1,"Allison, Miss Helen Loraine",1st,2.0,female,0,1

In [6]:
# Load library
import collections

In [7]:
# Create dictionary
column_names = collections.defaultdict(str)

In [8]:
# Corrected code
for name in dataframe.columns:
    #  Access or modify column_names[name]
    print(column_names[name])

In [9]:
# Show dictionary
column_names

defaultdict(str,
            {'Name': '',
             'PClass': '',
             'Age': '',
             'Sex': '',
             'Survived': '',
             'SexCode': ''})